<div class="items">
  <div class="item" ng-repeat="item in page.children | visible | addratios | uniheight : 2 : 1.25" ng-style="{ 'width' : item.relativewidth + '%', 'margin' : '0 ' + item.margin + '% 3rem' }">
    <a href="{{item.url}}" ng-if="item.relativewidth">
      <h4 class="title">{{item.content.title.value}}</h4>
      <picture picturefill ng-style="{'width' : '100%', 'padding-bottom' : (100 / item.ratio) + '%'}">
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source ng-attr-srcset="{{item.files[item.strings.thumbnail].thumbnails.h1400}}" pf-media="retina"/>
          <source ng-attr-srcset="{{item.files[item.strings.thumbnail].thumbnails.h1000}}" pf-media="(min-height: 800px)"/>
          <source ng-attr-srcset="{{item.files[item.strings.thumbnail].thumbnails.h350}}" pf-media="(min-height: 400px)"/>
          <!--[if IE 9]></video><![endif]-->
          <img ng-class="class"/>
      </picture>
    </a>
  </div>
</div>
