<aside class="collection">
  <h2>{{parent.strings.title}}</h2>
  <nav class="collection sidemenu">
      <a ng-repeat="collection in parent.children" href="{{collection.url}}" ng-class="{'active' : (collection.uid == page.uid)}">{{collection.strings.title}}</a>
  </nav>
</aside>
<div class="collection gallery composition">
  <div class="item" ng-repeat="file in page.content.images.yaml | imagesfrom : page | uniheight : 2 : 2 : 1" ng-style="{ 'width' : file.relativewidth + '%', 'margin' : '0 ' + file.margin + '% 2rem' }">
    <ng-switch on="file.type">
      <a ng-click="gallery($index, (page.content.images.yaml | imagesfrom : page))" data-ng-switch-when="image">
        <picture picturefill ng-style="{'width' : '100%', 'padding-bottom' : (100 / file.ratio) + '%'}">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source ng-if="file.load" ng-attr-srcset="{{file.thumbnails.h1400}}" pf-media="retina"/>
              <source ng-if="file.load" ng-attr-srcset="{{file.thumbnails.h1000}}" pf-media="(min-height: 800px)"/>
              <source ng-if="file.load" ng-attr-srcset="{{file.thumbnails.h350}}" pf-media="(min-height: 400px)"/>
              <!--[if IE 9]></video><![endif]-->
              <img ng-src="{{file.load ? file.thumbnails.h350 : ''}}" ng-class="class"/>
          </picture>
      </a>
    </ng-switch>
</div>
</div>
