<table class="slide">
  <tbody>
  <tr>
    <td class="left half" ng-class="{'empty' : (slide.leftside.yaml.length < 1) }">
      <div  class="item wrapper" data-ng-repeat="file in slide.leftside.yaml | imagesfrom : page">
        <picture picturefill>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source ng-if="file.load" ng-attr-srcset="{{file.thumbnails.h1400}}" pf-media="retina"/>
            <source ng-if="file.load" ng-attr-srcset="{{file.thumbnails.h1000}}" pf-media="(min-height: 800px)"/>
            <source ng-if="file.load" ng-attr-srcset="{{file.thumbnails.h700}}" pf-media="(min-height: 400px)"/>
            <!--[if IE 9]></video><![endif]-->
            <img ng-src="{{file.load ? file.thumbnails.h700 : ''}}" ng-class="class"/>
        </picture>
      </div>
    </td>
    <td class="right half" ng-class="{'empty' : (slide.rightside.yaml.length < 1) }">
      <div  class="item wrapper" data-ng-repeat="file in slide.rightside.yaml | imagesfrom : page">
        <picture picturefill>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source ng-if="file.load" ng-attr-srcset="{{file.thumbnails.h1400}}" pf-media="retina"/>
            <source ng-if="file.load" ng-attr-srcset="{{file.thumbnails.h1000}}" pf-media="(min-height: 800px)"/>
            <source ng-if="file.load" ng-attr-srcset="{{file.thumbnails.h700}}" pf-media="(min-height: 400px)"/>
            <!--[if IE 9]></video><![endif]-->
            <img ng-src="{{file.load ? file.thumbnails.h700 : ''}}" ng-class="class"/>
        </picture>
      </div>
    </td>
  </tr>
  </tbody>
</table>
