<table class="slide items">
  <tbody>
  <tr>
    <td class="left half">
      <div class="item wrapper" data-ng-repeat="file in slide.leftside.yaml | imagesfrom : page">
        <picture picturefill>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h1400}}" pf-media="retina"/>
            <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h1000}}" pf-media="(min-height: 800px)"/>
            <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h350}}" pf-media="(min-height: 400px)"/>
            <!--[if IE 9]></video><![endif]-->
            <img ng-class="class"/>
        </picture>
      </div>
    </td>
    <td class="right half">
      <div class="item wrapper" data-ng-repeat="file in slide.rightside.yaml | imagesfrom : page">
        <picture picturefill>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h1400}}" pf-media="retina"/>
            <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h1000}}" pf-media="(min-height: 800px)"/>
            <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h350}}" pf-media="(min-height: 400px)"/>
            <!--[if IE 9]></video><![endif]-->
            <img ng-class="class"/>
        </picture>
      </div>
    </td>
  </tr>
  </tbody>
</table>
