<table class="slide items">
  <tbody>
  <tr>
    <td class="item wrapper" data-ng-repeat="file in slide.leftside.yaml | imagesfrom : page">
      <picture picturefill>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <!-- Displays with 2 device pixels per CSS pixel -->
          <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h1400}}" pf-media="retina"/>
          <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h1000}}" pf-media="(min-height: 1000px)"/>
          <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h700}}" pf-media="(min-height: 800px)"/>
          <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h350}}" pf-media="(min-height: 400px)"/>
          <!--[if IE 9]></video><![endif]-->
          <img ng-class="class"/>
      </picture>
    </td>
    <td class="item wrapper" data-ng-repeat="file in slide.rightside.yaml | imagesfrom : page">
      <picture picturefill>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <!-- Displays with 2 device pixels per CSS pixel -->
          <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h1400}}" pf-media="retina"/>
          <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h1000}}" pf-media="(min-height: 1000px)"/>
          <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h700}}" pf-media="(min-height: 800px)"/>
          <source ng-if="load" ng-attr-srcset="{{file.thumbnails.h350}}" pf-media="(min-height: 400px)"/>
          <!--[if IE 9]></video><![endif]-->
          <img ng-class="class"/>
      </picture>
    </td>
  </tr>
  </tbody>
</table>
