<header><nav><a class="close-button" ng-click="overlayBack()">Close</a><nav></header>

<div ng-click="next()" class="item wrapper">
  <picture picturefill>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source ng-attr-srcset="{{overlayFiles[overlayCurrent].thumbnails.h1400}}" pf-media="retina"/>
      <source ng-attr-srcset="{{overlayFiles[overlayCurrent].thumbnails.h1000}}" pf-media="(min-height: 800px)"/>
      <!--[if IE 9]></video><![endif]-->
      <img ng-class="class"/>
  </picture>
</div>
