<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org" ng-app="app">
  <head>
    <title>Angular Picture demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
      img {
        max-width: 300px;
      }
    </style>
  </head>
  <body class="container">
    <header>
      <h1><code>angular-picture</code> demo</h1>
    </header>
    <div class="row">
      <div class="col-md-4" title="Resize me!">
        <h2>Media queries</h2>
        <picture picturefill>
          <!-- Preset media queries -->
          <source srcset="http://www.webkit.org/demos/srcset/image-4x.png" pf-media="screen-lg"/>
          <source srcset="http://www.webkit.org/demos/srcset/image-3x.png" pf-media="screen-md"/>
          <source srcset="http://www.webkit.org/demos/srcset/image-2x.png" pf-media="screen-sm"/>
          <source srcset="http://www.webkit.org/demos/srcset/image-1x.png" pf-media="screen-xs"/>

          <img srcset="http://www.webkit.org/demos/srcset/image-src.png"/>
        </picture>
      </div>
      <div class="col-md-4">
        <h2>Custom <code>pfmedia</code></h2>
        <picture picturefill>
          <!-- Custom media query -->
          <source srcset="http://www.webkit.org/demos/srcset/image-3x.png" pf-media="(min-width: 1000px)"/>

          <img srcset="http://www.webkit.org/demos/srcset/image-src.png"/>
        </picture>
      </div>
      <div class="col-md-4">
        <h2>Inline <code>srcset</code></h2>
        <picture picturefill>
          <!-- Displays with 2 device pixels per CSS pixel -->
          <source srcset="http://www.webkit.org/demos/srcset/image-src.png, http://www.webkit.org/demos/srcset/image-2x.png 2x"/>
          <img srcset="http://www.webkit.org/demos/srcset/image-src.png"/>
        </picture>
      </div>
    </div>

    <script src="../bower_components/picturefill/dist/picturefill.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/angular-picture.js"></script>
    <script>
    angular.module('app', [
      'ngPicturefill'
    ]);
    </script>
  </body>
</html>
