@import url(components/normalize.css/normalize.css);
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ! */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

main:before,
main:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

main:after {
  clear: both; }

main {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Typography */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
  font-family: "Maison Neue Bold";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/maisonneue-bold-web.eot?#iefix") format("embedded-opentype"), url("fonts/maisonneue-bold-web.woff2") format("woff2"), url("fonts/maisonneue-bold-web.woff") format("woff"), url("fonts/maisonneue-bold-web.ttf") format("truetype"), url("fonts/maisonneue-bold-web.svg#Maison Neue Bold") format("svg"); }
@font-face {
  font-family: "Maison Neue Light";
  font-style: normal;
  font-weight: light;
  src: url("fonts/maisonneue-light-web.eot?#iefix") format("embedded-opentype"), url("fonts/maisonneue-light-web.woff2") format("woff2"), url("fonts/maisonneue-light-web.woff") format("woff"), url("fonts/maisonneue-light-web.ttf") format("truetype"), url("fonts/maisonneue-light-web.svg#Maison Neue Light") format("svg"); }
body {
  font: normal 14px/18px 'Maison Neue Light', Helvetica, Verdana, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

dl {
  margin: 0 0 1em; }

dt {
  float: left;
  clear: left;
  min-width: 4em; }

h1 {
  font: normal 30px/36px 'Maison Neue Light', Helvetica, Verdana, Arial, sans-serif; }

h2, h3, h4 {
  font: inherit;
  margin: 0 0 1em; }

a, a:link, a:visited {
  color: inherit;
  text-decoration: none; }

a:hover {
  opacity: 0.6; }

.cover a:hover, #Logo:hover {
  opacity: 1; }

ol {
  counter-reset: item;
  list-style-type: none;
  text-align: left;
  margin: 2em 0 0 -3em;
  padding: 0; }

ol li {
  padding: 0 3em;
  text-indent: -3em; }

ol li:before {
  content: counter(item) "  ";
  counter-increment: item;
  width: 3em;
  display: inline-block;
  text-indent: 0em; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0 0 1em; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Composition */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10% 12% 3%; }

main.black ~ footer {
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent, black);
  background-image: linear-gradient(transparent, black);
  color: white; }

main.black ~ footer #Logo {
  fill: white; }

main:not(.Cover) {
  padding: 6% 12% 18%; }

article {
  display: inline-block; }

#Logo {
  pointer-events: all;
  position: absolute;
  width: 405px;
  height: 35px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 5.6em; }

#Navigation {
  margin-left: 0em;
  float: left;
  pointer-events: all; }

Sub-Navigation {
  margin-right: 0em;
  float: right;
  pointer-events: all; }

#Back {
  float: left; }

main.Cover {
  margin: 0%;
  overflow: hidden; }

main.Project {
  padding: 6% 6% 18%;
  background-color: black;
  color: white; }

main.Product {
  padding: 6% 6% 18%;
  background-color: white;
  color: black; }

main.Archive {
  padding: 6% 6% 18%;
  background-color: black;
  color: white; }

main.Products {
  padding: 6% 6% 18%;
  background-color: white;
  color: black; }

main.About {
  padding: 6% 6% 12%; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Components */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
button {
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.3em; }

select {
  display: block;
  width: 100%;
  padding: 1em; }

img {
  width: 100%;
  height: auto; }

.portrait {
  width: 48%; }

.landscape {
  width: 100%; }

.two-columns {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem; }

/* Cover */
.cover.composition {
  word-spacing: -0.3em; }

.cover.composition .item {
  display: inline-block;
  vertical-align: top; }

.cover.composition .item:nth-child(odd) {
  -webkit-transform: translate(0, -60%);
  -moz-transform: translate(0, -60%);
  -ms-transform: translate(0, -60%);
  -o-transform: translate(0, -60%);
  transform: translate(0, -60%);
  position: relative; }

.cover.composition .vertical {
  width: 50vw;
  height: 75vw; }

.shadow {
  height: 100vh !important;
  overflow: visible;
  position: relative;
  top: 0; }

.shadow .composition {
  position: absolute;
  top: 0; }

.cover.composition .large a {
  padding: 10%;
  width: 100%;
  height: auto;
  display: block; }

.cover.composition .small a {
  padding: 27%;
  width: 100%;
  height: auto;
  display: block; }

/* Archive */
.menu.composition {
  word-spacing: 0;
  text-align: justify; }

.menu.composition .item {
  display: inline-block;
  margin-bottom: 3.5em; }

.menu.composition .item .title {
  display: block;
  margin-bottom: 1em;
  word-spacing: 0.1em; }

.composition {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* Project */
aside {
  width: 18%;
  float: right; }

.gallery.composition {
  width: 74%;
  word-spacing: 2vw;
  float: left; }

.gallery.composition .item {
  display: inline-block;
  margin-bottom: 3.5em; }

/* About */
.bio {
  display: inline-block; }

.description {
  font: normal 21px/28px 'Maison Neue Light', Verdana, Arial, sans-serif;
  padding-right: 2em;
  margin-bottom: 2em; }

.contact {
  font: normal 21px/28px 'Maison Neue Light', Verdana, Arial, sans-serif;
  padding-right: 2em; }

/* About */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Animations */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*a {
  @include transition(opacity 0.0.25s ease-in);
}*/
main.ng-enter {
  display: none; }

main.ng-enter-active {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  animation: fadeIn 0.25s linear 0.25s; }

main.ng-leave {
  display: block;
  position: relative;
  animation: fadeOut 0.25s linear 0s; }

footer {
  opacity: 1; }

main.black-add ~ footer {
  opacity: 0; }

main.black-add-active ~ footer {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in; }

/*# sourceMappingURL=stylesheets.css.map */
