@import "components/bourbon/app/assets/stylesheets/_bourbon.scss";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ! */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main:before,
main:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

main:after {
    clear: both;
}

main {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

a {
  cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Typography */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@font-face {
    font-family: "Maison Neue Light";
    font-style: normal;
    font-weight: light;
    src: url("http://www.juslinmaunula.com/assets/fonts/maisonneue-light-web.woff") format("woff");
}

body {
	font: normal 14px/18px 'Maison Neue Light', Helvetica, Verdana, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

dl {
    margin: 0 0 1em;
}

dt {
    float: left;
    clear: left;
    min-width: 4em;
}

h1 {
    font: normal 30px/36px 'Maison Neue Light', Helvetica, Verdana, Arial, sans-serif;
}

h2 {
    text-transform: uppercase;
}

h2, h3, h4 {
    font: inherit;
    margin: 0 0 1em;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

.cover a:hover, #Logo:hover {
    opacity: 1;
}

ol {
    counter-reset: item;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

ol li {
    padding: 0 1.5em;
    text-indent: -1.5em;
}

ol li:before {
    content: counter(item) "  ";
    counter-increment: item;
    width: 1.5em;
    display: inline-block;
    text-indent: 0em;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Composition */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer nav {
    position: relative;
    padding: 2rem 10.5rem 6rem;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 2.5rem 10.5rem 0;
}

article {
    display: block;
}

#Logo {
  pointer-events: all;
  position: absolute;
  display: block;
  width: 405px;
  height: 35px;
	margin: 0 auto;
	left: 0;
	right: 0;
  bottom: 2.5rem;
  word-spacing: 0rem;
}

#Logo .left {
  width: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

#Logo .right {
  width: 50%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

#Logo .right svg {
  position: absolute;
  right: 0;
  top: 0;
}

#Logo .white svg path, #Logo .white svg rect {
  fill: white;
}

#Logo .black svg path, #Logo .black svg rect {
  fill: black;
}

body.White main:not(.Cover) ~ footer nav:not(.mobile) #Logo svg path, body.White main:not(.Cover) ~ footer nav:not(.mobile) #Logo svg rect, body.White main:not(.Cover) ~ footer nav:not(.mobile) #Navigation {
  fill: black !important;
  color: black !important;
}

body.Black main:not(.Cover) ~ footer nav:not(.mobile) #Logo svg path, body.Black main:not(.Cover) ~ footer nav:not(.mobile) #Logo svg rect, body.Black main:not(.Cover) ~ footer nav:not(.mobile) #Navigation {
  fill: white !important;
  color: white !important;
}





#Navigation {
    pointer-events: all;
    display: inline-block;
    @include columns(2);
    @include column-gap(0rem);
    position:absolute;
    bottom: 2.666rem;
    width: 20rem;
}

#Navigation.white {
  color: white;
}

#Navigation.black {
  color: black;
}

#Shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Black footer #Shadow {
    @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    opacity: 1;
}

.White footer #Shadow {
    @include linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    opacity: 1;
}


.Cover ~ footer #Shadow {
    opacity: 0;
}


#Sub-Navigation {
    margin-right: 0em;
	float: right;
    pointer-events: all;
}

#Back {
	float: left;
}

main {
    min-width: 100%;
    padding: 2.5rem 6% 12%;
}

main.Cover {
    margin: 0%;
    padding: 0;
    overflow: hidden;
}

main.Cover .half {
  position: relative;
}

main.Cover .item.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main.Cover picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

main.Cover img {
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 100%;
  width: auto;
}

main.Cover .left img {
  right: 0;
}

main.Cover .right img {
  left: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Components */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

button {
  background-color: transparent;
  outline: none;
  display: block;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.3em;
}

select {
  display: block;
  width: 100%;
  padding: 1em;
}

img, video {
    width: 100%;
    height: auto;
}


.two-columns {
    @include columns(2);
    @include column-gap(3rem);
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.slides .hidden {
  display: none;
}

.slides .current {
  display: block;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ! */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Archive */

.collection, .gallery, .items {

  .item {
    width: 100%;
    display: inline-block;
  }

  .item picture {
    width: 100%;
    display: block;
    position: relative;
  }

  .item picture img{
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
  }

  .item .title {
      display: inline-block;
      word-spacing: 0.1em;
  }

}

/* Shop */


.shop.composition {
  word-spacing: 0;
  text-align: justify;
  width: 100%;
}

.shop.composition .item {
  display: inline-block;
  margin-bottom: 3.5em;
  width: 45%;
}

.shop.composition .item:nth-child(2n-1) {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 3.5em;
  margin-right: 4%;
  width: 48%;
}

.shop.composition .item .title {
  display: block;
  margin-bottom: 1em;
  word-spacing: 0.1em;
}

.product.composition {
  padding-top: 3%;
  width: 74%;
  word-spacing: 0px;
  float: left;
  font-size: 0;
}

/* !Project */

aside {
    width: 18%;
    float: right;
}

.collection.sidemenu a {
    display: block;
}

.product aside, .Product aside, aside.collection {
    width: 18%;
    float: right;
    position: fixed;
    top: 4em;
    right: 6%;
}

aside.collection {
  padding-top: 0.5rem;
  padding-left: 4rem;
}

main.Cover {
  height: 100vh;
}

.slide, .slideshow, .slides {
  height: 100vh;
  width: 100vw;
}

.half {
  height: 100%;
  width: 50%;
}

.left.half {
  text-align: right;
}

.right.half {
  text-align: left;
}

.collection.gallery.composition {
    padding-top: 0%;
    width: 80%;
}

.gallery.composition {
    padding-top: 3%;
    width: 74%;
    word-spacing: 0px;
    float: left;
    font-size: 0;
}

.gallery.composition .item {
    display: inline-block;
    margin-bottom: 4%;
}

.gallery.composition .landscape {
    width: 100%;
}

.gallery.composition .item:nth-child(2n-1), {
    margin-right: 4%;
}

.back-button, .close-button {
    cursor: pointer;
    float: left;
    clear: both;
    margin-bottom: 1em;
    margin-left: 3em;
    padding: 0;
    position: relative;
}
.back-button:before {
    content: '←';
    position: absolute;
    left: -3em;
}


/* About */

.bio {
  display: block;
  -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
             break-inside: avoid;
}

.description {
    font: normal 21px/28px 'Maison Neue Light', Verdana, Arial, sans-serif;
    padding-right: 2em;
    margin-bottom: 2em;
}

.contact {
    font: normal 21px/28px 'Maison Neue Light', Verdana, Arial, sans-serif;
    padding-right: 2em;
}

.collection.sidemenu .active::before {
  content: '→';
  position: absolute;
  left: 2em
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Overlay */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.close-button:before {
    content: '×';
    position: absolute;
    left: -3em;
}

.White .overlay {
  background-color: white;
}

.Black .overlay {
  background-color: black;
}


.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.overlay.active ~ main {
  height: 0;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.overlay header {
  z-index: 99;
}

.overlay .item.wrapper {
  position: absolute;
  top: 4.75rem;
  bottom: 5.25rem;
  left: 5rem;
  right: 5rem;
}

.overlay .item picture {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay .item img {
  width: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.overlayFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3% 12% 3.5rem;
}

.overlayFooter nav {
  position: absolute;
}

.overlayFooter nav.center {
  left: 0;
  right: 0;
  margin: auto;
  width: 18rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.overlayFooter .next, .overlayFooter .prev {
  position: relative;
}

.overlayFooter .next::after {
  content: '→';
  position: absolute;
  right: -2rem;
}

.overlayFooter .prev::before {
  content: '←';
  position: absolute;
  left: -2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Press */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.press.item {
  margin-bottom: 6rem;
}

.press.header h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.press .slides {
  width: 100%;
  height: 60vh;
}

.press .slide {
  position: relative;
  width: 100%;
  height: 60vh;
}

.press.items .item {
  position: relative;
  top: 0;
}

.press .slide picture {
  position: absolute;
  top: 0;
  bottom: 0;
}

.press.items .item .slide img {
  position: absolute;
  max-width: 100%;
  max-height: 60vh;
  width: auto;
  height: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.press.footer {
  position: relative;
  padding: 3% 12% 3.5rem;
}

.press.footer nav {
  position: absolute;
}

.press.footer nav.center {
  left: 0;
  right: 0;
  margin: auto;
  width: 18rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.press.footer .next, .press.footer .prev {
  position: relative;
}

.press.footer .next::after {
  content: '→';
  position: absolute;
  right: -2rem;
}

.press.footer .prev::before {
  content: '←';
  position: absolute;
  left: -2rem;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* !Animations */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
  /* @include transition(background-color 1000ms linear, color 1000ms linear); */
}

body.Black {
  background-color: black;
  color: white;
}

body.White {
  background-color: white;
  color: black;
}

body.Black #Logo #Graphic {
  fill: #FFF;
}

body.White #Logo #Graphic {
  fill: #000;
}

main {
  animation: fadeIn 1000ms ease 0s;
}

img.hidden-until-loaded {
  opacity: 0;
}

img {
  @include transition(opacity 0.5s ease);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ! */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (max-width : 1200px) {
  main {
      padding: 2.5rem 6% 12%;
  }
  footer nav {
      padding: 2rem 3rem 6rem;
  }

  header {
      padding: 2.5rem 3rem 0;
  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ! */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width : 960px) {
  .mobile.menu {
    display: none;
  }
}


body.Black .mobile.menu svg {
  fill:white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ! */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (max-width : 960px) {
    main {margin-top: 4rem; margin-bottom: 4rem; }
    .overlay .item.wrapper {left: 2rem; right: 2rem;}
    .mobile.menu { pointer-events: all; display: block; position: fixed; top: 2.5rem; left: 2.5rem; width: 2rem; z-index: 1;}
    nav:not(.mobile) #Navigation {display: none;}
    nav.mobile #Logo rect, nav.mobile #Logo path {fill: white !important;}
    nav.mobile {color: white !important; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: black; z-index: 99;}
    aside {width: 92% !important; margin: 2%; position: relative !important; float: none !important; top: 0 !important; margin-bottom: 2rem;}
    body {font: normal 16px/21px 'Maison Neue Light', Helvetica, Verdana, Arial, sans-serif;}
    .gallery.composition {width: 100% !important;}
    #Logo {margin-right: auto; margin-left: auto;}
    #Navigation { @include columns(1); bottom: auto; top: 0; margin: 3rem; font-size: 1.5rem; line-height: 1.33em;}
    .portrait {width: 100% !important;}
    .two-columns { @include columns(1);}
    .cover.composition .large a, .cover.composition .small a {padding: 12%; width: 100%;}
    /*.cover.composition .item {@include transform(translate(0%, 0%) !important);}*/
    .black {color: black !important;}
    #Shadow {display: none;}
    footer nav {padding: 0;}
    .column {width: 100%; float: none;}
    .menu.composition .item {padding: 5% 0;}
    body.Black #Logo #Graphic {fill: #000;}
}
