            <div class="two-columns">
            <article>
                <div class="description" ng-bind-html="about.description"></div>
                <div class="contact" ng-bind-html="about.contact"></div>
            </article>
            <article class="two-columns">
                <div class="bio" ng-bind-html="about.lillibio"></div>                
                <div class="bio" ng-bind-html="about.laurabio"></div>                
            </article>
            </div>                  